# “dx extract_dataset” in Python
<hr/>
***As-Is Software Disclaimer***

This content in this repository is delivered “As-Is”. Notwithstanding anything to the contrary, DNAnexus will have no warranty, support, liability or other obligations with respect to Materials provided hereunder.

<hr/>

This notebook demonstrates usage of the dx command `extract_dataset` for:
* Retrieval of Apollo-stored data, as referenced within entities and fields of a Dataset or Cohort object on the platform
* Retrieval of the underlying data dictionary files used to generate a Dataset object on the platform

<a href="https://github.com/dnanexus/OpenBio/blob/master/LICENSE.md">MIT License</a> applies to this notebook.

## Preparing your environment
### Launch spec:

* App name: JupyterLab with Python, R, Stata, ML ()
* Kernel: Python
* Instance type: mem1_ssd1_v2_x2
* Cost: < $0.2
* Runtime: =~ 10 min
* Data description: Input for this notebook is a v3.0 Dataset or Cohort object ID

### dxpy version
extract_dataset requires dxpy version >= 0.329.0. If running the command from your local environment (i.e. off of the DNAnexus platform), it may be required to also install pandas. For example, pip3 install -U dxpy[pandas]

In [3]:
import subprocess
import dxpy
import pandas as pd
import os
import glob
pd.set_option('display.max_columns', None)

In [2]:
dxpy.__version__

'0.330.0'

### 1. Assign environment variables

In [4]:
# The referenced Dataset is private and provided only to demonstrate an example input. The user will need to supply a permissible and valid record-id
# Assign project-id of dataset
# Assign dataset record-id
rid = 'record-G5Ky4Gj08KQYQ4P810fJ8qPp'
# Assign joint dataset project-id:record-id
#dataset = (':').join([pid, rid])

dataset = rid

### 2. Call “dx extract_dataset” using a supplied dataset

In [5]:
cmd = ["dx", "extract_dataset", dataset, "-ddd", "--delimiter", ","]
subprocess.check_call(cmd)

0

#### Preview data in the three dictionary (*.csv) files

In [6]:
path = os.getcwd()

In [7]:
data_dict_csv = glob.glob(os.path.join(path, "*.data_dictionary.csv"))[0]
data_dict_df = pd.read_csv(data_dict_csv)
data_dict_df.head()

,entity,name,type,primary_key_type,coding_name,concept,description,folder_path,is_multi_select,is_sparse_coding,linkout,longitudinal_axis_type,referenced_entity_field,relationship,title,units
0,participant,p22608_a24,integer,NaN,data_coding_493,NaN,NaN,Online follow-up > Work environment > Employme...,NaN,NaN,http://biobank.ctsu.ox.ac.uk/crystal/field.cgi...,NaN,NaN,NaN,Workplace very hot | Array 24,NaN
1,participant,p2784_i1,integer,NaN,data_coding_100349,NaN,NaN,UK Biobank Assessment Centre > Touchscreen > S...,NaN,NaN,http://biobank.ctsu.ox.ac.uk/crystal/field.cgi...,NaN,NaN,NaN,Ever taken oral contraceptive pill | Instance 1,NaN
2,participant,p102780_i4,integer,NaN,data_coding_100001,NaN,NaN,Online follow-up > Diet by 24-hour recall > Br...,NaN,NaN,http://biobank.ctsu.ox.ac.uk/crystal/field.cgi...,NaN,NaN,NaN,Other grain intake | Instance 4,Serving
3,participant,p41217,integer,NaN,data_coding_228,NaN,NaN,Health-related outcomes > Hospital inpatient >...,yes,NaN,http://biobank.ctsu.ox.ac.uk/crystal/field.cgi...,NaN,NaN,NaN,Mental categories,NaN
4,participant,p22704_a7,integer,NaN,NaN,NaN,NaN,Additional exposures > Local environment > Hom...,NaN,NaN,http://biobank.ctsu.ox.ac.uk/crystal/field.cgi...,NaN,NaN,NaN,Home location - north co-ordinate (rounded) | ...,metre-grid

In [8]:
codings_csv = glob.glob(os.path.join(path, "*.codings.csv"))[0]
codings_df = pd.read_csv(codings_csv)
codings_df.head()

          coding_name  code       meaning  concept  display_order parent_code
0     data_coding_493  -121   Do not know      NaN              1         NaN
1     data_coding_493  -131     Sometimes      NaN              2         NaN
2     data_coding_493  -141         Often      NaN              3         NaN
3     data_coding_493     0  Rarely/never      NaN              4         NaN
4  data_coding_100349     1           Yes      NaN              1         NaN

In [9]:
entity_dict_csv = glob.glob(os.path.join(path, "*.entity_dictionary.csv"))[0]
entity_dict_df = pd.read_csv(entity_dict_csv)
entity_dict_df.head()

,entity,entity_title,entity_description,entity_label_plural,entity_label_singular
0,participant,Participant,Participant data,Participants,Participant
1,pheno_geno_sample_ids,pheno_geno_sample_ids,pheno_geno_sample_ids,pheno_geno_sample_ids,pheno_geno_sample_ids

### 3. Parse returned metadata and extract entity/field names

In [17]:
data_dict_df['ent_field'] = data_dict_df['entity'].astype(str) + \
                            '.' + data_dict_df['name'].astype(str)
        
entity_field = data_dict_df.ent_field.values.tolist()
entity_field2 = entity_field[500:530]
entity_field2.append('participant.eid')
entity_field2

['participant.p5983_i0_a93',
 'participant.p20008_i2_a19',
 'participant.p10147_i0_a0',
 'participant.p25329_i2',
 'participant.p20014_i2_a5',
 'participant.p5078_i0_a0',
 'participant.p5877_i2',
 'participant.p102830_i1',
 'participant.p2624_i1',
 'participant.p2754_i2',
 'participant.p4244_i1_a12',
 'participant.p25686_i2',
 'participant.p25836_i2',
 'participant.p4260_i2_a9',
 'participant.p4245_i0_a15',
 'participant.p20229_a113',
 'participant.p30001_i0',
 'participant.p1249_i1',
 'participant.p1970_i1',
 'participant.p5141_i1_a2',
 'participant.p1448_i2',
 'participant.p22602_a13',
 'participant.p22140',
 'participant.p25586_i2',
 'participant.p20010_i2_a1',
 'participant.p100320_i4',
 'participant.p401_i1_a2',
 'participant.p25005_i2',
 'participant.p5077_i0_a1',
 'participant.p20117_i0',
 'participant.eid']

### 4. Use extracted entity and field names as input to the called function, “dx extract_dataset” and extract data

In [18]:
cmd = ["dx", "extract_dataset", dataset, "--fields", ','.join(entity_field2), 
       "-o", "cohort_data.csv"]

subprocess.check_call(cmd)

0

#### Print data in the retrieved data file

In [19]:
fields_file_df = pd.read_csv("cohort_data.csv", float_precision='round_trip')
fields_file_df.head()

,participant.p5983_i0_a93,participant.p20008_i2_a19,participant.p10147_i0_a0,participant.p25329_i2,participant.p20014_i2_a5,participant.p5078_i0_a0,participant.p5877_i2,participant.p102830_i1,participant.p2624_i1,participant.p2754_i2,participant.p4244_i1_a12,participant.p25686_i2,participant.p25836_i2,participant.p4260_i2_a9,participant.p4245_i0_a15,participant.p20229_a113,participant.p30001_i0,participant.p1249_i1,participant.p1970_i1,participant.p5141_i1_a2,participant.p1448_i2,participant.p22602_a13,participant.p22140,participant.p25586_i2,participant.p20010_i2_a1,participant.p100320_i4,participant.p401_i1_a2,participant.p25005_i2,participant.p5077_i0_a1,participant.p20117_i0,participant.eid
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,24.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,2.0,sample_100_116
1,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,703.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,2.0,sample_100_142
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6419.67,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,sample_100_285
3,NaN,NaN,NaN,NaN,NaN,-0.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,sample_100_290
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,32.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,2.0,sample_100_304

### 5. Replace any coded column values of extracted data with the coded meaning

In [20]:
data_dict_df['coding_value_type'] = data_dict_df['is_multi_select'].apply(
                                    lambda x: "list" if x == "yes" else "string")

In [21]:
fields_file_df_decoded = fields_file_df.copy(deep=True)

def get_meaning(code_name, code):
    if isinstance(code, int):
        code = str(code)
    elif isinstance(code, float):
        code = str(code)
        # If field type is float, and an integer sparse code is used for the field 
        # (example `1`), the retrieved data represents it as a float (`1.0`).
        # Strip the `.0` suffix and search for the code in codings dataframe
        if codings_df.loc[(codings_df["coding_name"]== code_name) & 
                          (codings_df["code"]== code), "meaning"].empty:
            if code.endswith('.0'):
                code = code[:-2]
    return(codings_df.loc[(codings_df["coding_name"]== code_name) & 
                          (codings_df["code"]== code), "meaning"])

for (columnName, columnData) in fields_file_df_decoded.iteritems():
    code_name, data_type= data_dict_df[(data_dict_df["ent_field"]==columnName)][
                          ["coding_name", "coding_value_type"]].values[0]
    if not pd.isna(code_name):
        set_of_values = set(columnData.dropna())
        for val in set_of_values:
            if data_type == "list":
                new_val = []
                list_val = eval(val)
                for i in list_val:
                    meaning = get_meaning(code_name, i)
                    if not meaning.empty:
                        new_val.append(meaning.values.item())
                    else:
                        new_val.append(i)
                fields_file_df_decoded.loc[fields_file_df_decoded[columnName] == val, 
                                           columnName] = str(new_val)
                continue
            elif data_type == "string":
                meaning = get_meaning(code_name, val)
            if not meaning.empty:
                fields_file_df_decoded.loc[fields_file_df_decoded[columnName] == val, 
                                           columnName] = meaning.values.item()
fields_file_df_decoded

,participant.p5983_i0_a93,participant.p20008_i2_a19,participant.p10147_i0_a0,participant.p25329_i2,participant.p20014_i2_a5,participant.p5078_i0_a0,participant.p5877_i2,participant.p102830_i1,participant.p2624_i1,participant.p2754_i2,participant.p4244_i1_a12,participant.p25686_i2,participant.p25836_i2,participant.p4260_i2_a9,participant.p4245_i0_a15,participant.p20229_a113,participant.p30001_i0,participant.p1249_i1,participant.p1970_i1,participant.p5141_i1_a2,participant.p1448_i2,participant.p22602_a13,participant.p22140,participant.p25586_i2,participant.p20010_i2_a1,participant.p100320_i4,participant.p401_i1_a2,participant.p25005_i2,participant.p5077_i0_a1,participant.p20117_i0,participant.eid
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,24.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,No,NaN,NaN,NaN,NaN,NaN,NaN,Current,sample_100_116
1,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,703.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,Current,sample_100_142
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6419.67,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Current,sample_100_285
3,NaN,NaN,NaN,NaN,NaN,-0.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Current,sample_100_290
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,32.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,No,NaN,NaN,NaN,NaN,NaN,NaN,Current,sample_100_304
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17012,NaN,NaN,NaN,NaN,NaN,-0.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Current,sample_9_290
17013,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,Current,sample_9_312
17014,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,Current,sample_9_320
17015,NaN,NaN,NaN,NaN,NaN,0.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,Current,sample_9_394
17016,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,No,NaN,NaN,NaN,NaN,NaN,NaN,Current,sample_9_82

In [22]:
fields_file_df_decoded.to_csv("extracted_data_with_code_meanings.csv", index=False)

### 6. Drop sparsely coded values

In [23]:
fields_sparse_code = fields_file_df.copy(deep=True)

In [24]:
for (columnName, columnData) in fields_sparse_code.iteritems():
    code_name, data_type, is_sparse_coding= data_dict_df[
        (data_dict_df["ent_field"]==columnName)][
        ["coding_name", "coding_value_type", "is_sparse_coding"]].values[0]
    if not (pd.isna(code_name) and pd.isna(is_sparse_coding)) and \
            is_sparse_coding=='yes':
        set_of_values = set(columnData.dropna())
        for val in set_of_values:
            if data_type == "list":
                new_val = []
                list_val = eval(val)
                for i in list_val:
                    meaning = get_meaning(code_name, i)
                    if meaning.empty:
                        new_val.append(i)
                fields_sparse_code.loc[fields_sparse_code[columnName] == val, 
                                       columnName] = str(new_val)
                continue
            elif data_type == "string":
                meaning = get_meaning(code_name, val)
                if not meaning.empty:
                    fields_sparse_code.loc[fields_sparse_code[columnName] == val, 
                                           columnName] = None
fields_sparse_code.head()

,participant.p5983_i0_a93,participant.p20008_i2_a19,participant.p10147_i0_a0,participant.p25329_i2,participant.p20014_i2_a5,participant.p5078_i0_a0,participant.p5877_i2,participant.p102830_i1,participant.p2624_i1,participant.p2754_i2,participant.p4244_i1_a12,participant.p25686_i2,participant.p25836_i2,participant.p4260_i2_a9,participant.p4245_i0_a15,participant.p20229_a113,participant.p30001_i0,participant.p1249_i1,participant.p1970_i1,participant.p5141_i1_a2,participant.p1448_i2,participant.p22602_a13,participant.p22140,participant.p25586_i2,participant.p20010_i2_a1,participant.p100320_i4,participant.p401_i1_a2,participant.p25005_i2,participant.p5077_i0_a1,participant.p20117_i0,participant.eid
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,24.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,2.0,sample_100_116
1,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,703.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,2.0,sample_100_142
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6419.67,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,sample_100_285
3,NaN,NaN,NaN,NaN,NaN,-0.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,sample_100_290
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,32.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,2.0,sample_100_304

In [25]:
fields_sparse_code.to_csv("extracted_data_with_sparse_code_drop.csv", index=False)

### 7. Replace the column titles (field names) of extracted data with the field titles

In [26]:
current_columns = list(fields_file_df.columns)

In [27]:
new_columns = {}
titles = []
duplicate_titles = []
for val in current_columns:
    meaning = data_dict_df.loc[data_dict_df["ent_field"]==val, 
                               "title"].values.item()
    if meaning not in titles:
        titles.append(meaning)
    elif meaning not in duplicate_titles:
        duplicate_titles.append(meaning)
for val in current_columns:
    meaning = data_dict_df.loc[data_dict_df["ent_field"]==val, 
                               "title"].values.item()
    if meaning not in duplicate_titles:
        new_columns[val] = meaning
    else:
        new_columns[val] = val.replace(".", "-")

In [28]:
fields_file_df.rename(columns = new_columns, inplace = True)
fields_file_df.head()

,"ECG, heart rate | Instance 0 | Array 93",Interpolated Year when non-cancer illness first diagnosed | Instance 2 | Array 19,Duration to first press of snap-button in each round (pilot) | Instance 0 | Array 0,Mean L3 in external capsule on FA skeleton (left) | Instance 2,Method of recording time when operation occurred | Instance 2 | Array 5,logMAR in round (left) | Instance 0 | Array 0,Which eye(s) affected by other eye condition | Instance 2,Soft cheese intake | Instance 1,Frequency of heavy DIY in last 4 weeks | Instance 1,Age at first live birth | Instance 2,"Mean signal-to-noise ratio (SNR), (right) | Instance 1 | Array 12",Weighted-mean OD in tract corticospinal tract (right) | Instance 2,Volume of grey matter in Paracingulate Gyrus (left) | Instance 2,Round of numeric memory test | Instance 2 | Array 9,Time to press first digit (right) | Instance 0 | Array 15,Values entered | Array 113,White blood cell (leukocyte) count freeze-thaw cycles | Instance 0,Past tobacco smoking | Instance 1,Nervous feelings | Instance 1,3mm asymmetry index unreliable (left) | Instance 1 | Array 2,Bread type | Instance 2,Year job started | Array 13,Doctor diagnosed lung cancer (not mesothelioma),Weighted-mean L1 in tract medial lemniscus (left) | Instance 2,Interpolated Year when operation took place | Instance 2 | Array 1,Added milk to espresso | Instance 4,Index for card A in round | Instance 1 | Array 2,Volume of grey matter (normalised for head size) | Instance 2,Number of letters correct in round (left) | Instance 0 | Array 1,Alcohol drinker status | Instance 0,Participant ID
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,24.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,2.0,sample_100_116
1,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,703.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,2.0,sample_100_142
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6419.67,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,sample_100_285
3,NaN,NaN,NaN,NaN,NaN,-0.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,sample_100_290
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,32.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,2.0,sample_100_304

In [29]:
fields_file_df.to_csv("extracted_data_with_updated_titles.csv", index=False)

### 8. Upload extracted dictionaries and data back to the project

In [ ]:
cmd = "dx upload *.csv --destination /users/tladeras/"
subprocess.check_call(cmd, shell=True)